@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This is a message board for Database Management students.
     Go to the "Chat Rooms" tab to start a chat room or reply to and existing room.
     Go to the "Search Chat Rooms" tab to search existing rooms by Title, Owner, or Content.
     You can sort chatrooms alphabetically by Owner or Chat Room Name by clicking on the table
     heading (the &#8645; symbol). 
</p>
