@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to DBunked Messageboard</h2>
<p>
    Welcome to the Database Management Message Board. Go to the "About" tab to learn more about
    this project. Or you can go straight to the "Chat Rooms" tab to start talking to other people.
    To create/reply to a chat room you must be logged in or registered.
</p>
