@{
    ViewBag.Title = "Search Chat Rooms Form";
}

<h2>Search Chat Rooms</h2>

@using (Html.BeginForm("SearchChatRooms", "ChatRoom"))
{

    List<SelectListItem> dropdown = new List<SelectListItem>();
    dropdown.Add(new SelectListItem { Text = "Title", Value = "Title"});
    dropdown.Add(new SelectListItem { Text = "Owner", Value = "Owner"});
    dropdown.Add(new SelectListItem { Text = "Content", Value = "Content"});
    @Html.DropDownList("SearchType", dropdown);
    <text>Search: </text> @Html.TextBox("SearchTerm");
    <input type="submit" value="Search"/>
}