@model IEnumerable<DBExample.ChatRooms.Message>

<h1>Activity for @ViewBag.Username</h1>

<table>
    <thead>
        <th>
            Chat
        </th>
        <th>
            Date
        </th>
        <th>
            Message
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
            </tr>
        }
    </tbody>
</table>